GiboRenderer/Debug
GiboRenderer/Release
GiboRenderer/GiboRenderer/Debug
GiboRenderer/GiboRenderer/Release
GiboRenderer/.vs/GiboRenderer/v15/Browse.VC.db
GiboRenderer/.vs/GiboRenderer/v15/Browse.VC.opendb
GiboRenderer/.vs/GiboRenderer/v15/ipch/AutoPCH/588a83f6c9d6e0f/MEMORYPRACTICE.ipch
GiboRenderer/.vs/GiboRenderer/v15/.suo
