GiboRenderer/Debug
GiboRenderer/Release
GiboRenderer/GiboRenderer/Debug
GiboRenderer/GiboRenderer/Release
GiboRenderer/.vs/GiboRenderer/v15/Browse.VC.db
GiboRenderer/.vs/GiboRenderer/v15/Browse.VC.opendb
